<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.0.0/mdb.min.css"
      rel="stylesheet"
    />
    <title><%= pageTitle %></title>
  </head>
  <body>
    <!-- Image and text -->
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <div class="navbar-brand">
          <img
            class="img-fluid shadow-5 rounded"
            style="max-width: 21%"
            src="covid-log.jpg"
            height="30"
            alt=""
            loading="lazy"
          />
          <span><%= covid_global %> </span>
        </div>
      </div>
    </nav>
    <main>
      <div class="div">
        <div class="class">
          <ul id="new-confirmed">
            New Confirmed Cases: <%= newConfirmed %>
          </ul>
          <ul id="total-confirmed">
            Total Confirmed Cases: <%= totalConfirmed %>
          </ul>
          <ul id="total-deaths">
            Total Deaths: <%= totalDeaths %>
          </ul>
        </div>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Country</th>
            <th scope="col">New Cases</th>
            <th scope="col">Total Cases</th>
            <th scope="col">Total Deaths</th>
          </tr>
        </thead>
        <tbody>
          <% countryInfo.forEach(property => { %>
          <tr>
            <th scope="row"><%= property.Country %></th>
            <td><%= property.NewConfirmed %></td>
            <td><%= property.TotalConfirmed %></td>
            <td><%= property.TotalDeaths %></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </main>
    <footer>
      <footer class="bg-light text-center text-lg-start">
        <!-- Copyright -->
        <div
          class="text-center p-3"
          style="background-color: rgba(0, 0, 0, 0.2)"
        >
          <%= footerContent %>
        </div>
        <!-- Copyright -->
      </footer>
    </footer>
  </body>
</html>
